body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1710d2;
    background-color: #eaea10;
}

#imagen {
    max-width: 80%;
    height: auto;
}
